* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.main-div {
	/* bg-indigo-300 bg-opacity-75 p-2 pr-5 rounded-lg min-h-fit relative */
	background: rgba(199, 210, 254, 0.877);
	
	/* background: rgba(165, 171, 252, 0.877); */
	padding: 0.5rem;
	padding-right: 2.2rem;
	border-radius: 5px 0px 20px 20px;
	/* min-height: 50px; */
	max-width: 400px;
	width: auto;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	row-gap: 0.2rem;
	/* column-gap: 0.5rem; */
}

.time-div {
	display: flex;
	align-items: center;
	width: 100%;
}

.time-para {
	/* text-xs font-mono */
	font-size: 0.8rem;
	line-height: 1rem;
	padding: 0.2rem 1rem;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	font-weight: 700;
	flex: 1;
}

.time-format-label {
	background: rgb(99, 102, 241);
	color: white;
	font-size: 0.6rem;
	line-height: 2rem;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	font-weight: 700;
	align-self: stretch;
	padding: 0.5rem;
	text-align: center;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
	width: max-content;
	max-width: 80px;
	flex-grow: 1;
	border-radius: 5px;
	text-decoration: none;
	cursor: context-menu;
}

.time-format-label abbr {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

abbr[title] {
	border-bottom: none !important;
	cursor: inherit !important;
	text-decoration: none !important;
}

.close-ifm-btn {
	/* bg-indigo-500 text-2xl text-white cursor-pointer absolute top-0 right-0 w-10 h-10 font-mono text-center hover:opacity-75 duration-300 pb-2 pl-2 transition rounded-bl-full */

	position: fixed;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	background-color: rgb(99 102 241);
	font-size: 1.5rem /* 24px */;
	line-height: 2rem /* 32px */;
	color: white;
	cursor: pointer;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	border-bottom-left-radius: 9999px;
	transition: 0.3s;
	border: 0;
	outline: 0;
}

.close-ifm-btn:hover {
	opacity: 0.7;
	transition: 0.3;
}

.copy-btn {
	display: block;
	width: 1.25rem;
	height: auto;
	transition: 0.3s;
	cursor: pointer;
	margin: 0.5rem;
}

.copy-btn:hover {
	opacity: 0.5;
	transition: 0.3s;

}
